services:
  mysql:
    image: mysql:8.4.2
    container_name: booklib-mysql
    environment:
      MYSQL_ROOT_PASSWORD: bookLib
      MYSQL_DATABASE: bookLib
      MYSQL_USER: bookLib
      MYSQL_PASSWORD: bookLib
    ports:
      - "3306:3306"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
